<h1>Add Genre</h1>

<form class="add-genre" action="/genres" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <label for="bpm">BPM: </label>
  <input type="number" name="bpm" id="bpm" min="60" max="180">

  <div class="form-el">
      <input type="submit" value="Add Genre"/>
    </div>

</form>
