<h1><%= @genre.name.upcase %></h1>

<main id="genre-search">
  Name: <%= @genre.name  %>

  <form action="/genres/<%= @genre.id %>/edit" method="POST"><input type="submit" value="Edit"></form>

  <form action="/genres/<%= @genre.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
</main>
