<h1>Add Track to Record</h1>

<form class="add-track-to-record" action="/tracks_records" method="post">

  <label for="track_id">Select Track:</label>
  <select name="track_id">
    <% @tracks.each do |track| %>
    <option value=<%= track.id %>><%= track.track_title %>
    </option>
    <% end %>
  </select>

  <br>

  <label for="record_id">Select Record:</label>
  <select name="record_id">
    <% @records.each do |record| %>
    <option value=<%= record.id %>><%= record.title %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="track_number">Track Number:</label>
  <input type="number" name="track_number" value="1" min="1" disabled>

  <div class="add-track-to-record">
    <input type="submit" value="Add Track to Record"  class="button"/>
  </div>
</form>
