<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rippin' Records</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <nav>
      <h2>Rippin' Records</h2>
      <h2><a href="/artists">Artists</a></h2>
      <h2><a href="/records">Records</a></h2>
    </nav>

    <%= yield %>
  </body>
</html>
