<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rippin' Records</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <h2 id="logo">Rippin' Records</h2>
      <h2 id="artists"><a href="/artists">Artists</a></h2>
      <h2 id="records"><a href="/records">Records</a></h2>
    </nav>

    <%= yield %>
  </body>
</html>
