<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spin it Up</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1 id="logo"><a href="/">Spin It Up</a></h1>
    </header>
    <nav>
      <ul>
        <li><h2 id="artists"><a href="/artists">Artists</a></h2></li>
        <li><h2 id="records"><a href="/records">Records</a></h2></li>
        <li><h2 id="tracks"><a href="/tracks">Tracks</a></h2></li>
        <li><h2 id="genres"><a href="/genres">Genres</a></h2></li>
        <li><h2 id="track-records"><a href="/tracks_records">Tracks on Records</a></h2></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
