header {
  text-align: center;
  font-family: arial;
  height: 300px;
  width: 100%;
  align-self: center;
}

main {
  color: lightgrey;
}

body {
  background: url('speaker-music-blue2.jpg') center/cover;
  height: auto;
  font-family: Verdana;
  max-width: auto;
  grid-gap: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  color: lightgrey;
}

nav {
  background-color: rgb(80,120,150);
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 4px;

}

nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  border: 2px;
  border-radius: 10px;
  background-color: rgb(141, 66, 92);
  padding: 5px;
  color: rgb(55,68,46);

}

main:link {
  color: lightyellow;
}

/* visited link */
body:visited {
  color: lightgreen;
}

/* mouse over link */
body:hover {
  color: lightpink;
}

/* selected link */
body:active {
  color: lightblue;
}

nav li:hover {
  opacity: 0.8;
  background-color: rgb(150, 140, 90);
}


#artists {
  color: rgb(55,68,46);
}

td {
  background-color: grey;
  color: white;
}

table {
  width: 1200px;
  border: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
