/* PALLETTE:
Black: #3C3C3C
Red: #FF5A5F
Blue: #087E8B
White: #F5F5F5
Purple: #C1839F
*/

/* Nav */

nav {
  background-size: contain;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;

  width: 80%;
  display: inline-block;
}

nav li {
  display: inline-block;
  font-size: 18px;
  padding: 20px;
  border: 2px;
  background-color: #087E8B;
  padding: 5px;
  color: white;

  outline: 3px solid rgb(255, 255, 255);
    
  transition: all ease-in-out 300ms;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5)
}

nav li:hover {
  font-size: 20px;
  outline: 2px solid white;
  outline-offset: -5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5)
}

/* Links */

input[type=button], input[type=submit], input[type=reset] {
  background-color: #FF5A5F;
  border: none;
  color: #3C3C3C;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  font-size: 15px;

  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

  transition: all ease-in-out 300ms;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #C1839F;
  color: #F5F5F5;

  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5)
}

section {
  background-color: #FF5A5F;
  border: none;
  color: #3C3C3C;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  width: 40%;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: inline-block;

  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

section:hover {
  background-color: #C1839F;
  color: #F5F5F5;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5)
}

a:link {
  color: black;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F5F5F5;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

/* Tables */

td {
  background-color: grey;
  color: white;
}

table {
  width: auto;
  border: 10px;
  background-color: white;
  color: black;
  display: inline-block;
}

th {
  background-color: #FF5A5F;
  color: white;
}

tr:hover {
  background-color: #747474;
}

th, td {
  border-bottom: 1px solid #ddd;
}


/* Body */

body {
  background: #F5F5F5;
  height: auto;
  font-family: Verdana;
  max-width: auto;
  grid-gap: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  color: #3C3C3C;
}

main {
  color: #3C3C3C;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  display: inline-block;
}

/* Forms */

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 30%;
  height: 25px;
  padding: 16px 20px;
  border: 5px;
  background-color: #c0c0c0;
}

form {
  width: 40%;
  margin: 0 auto;
  align-content: left;
}

.saver {
  text-align: center;
  display: grid;
  width: 100%;
}

form.save{
  width: 100%;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  font-size: 20px;
  text-align: left;
}

label + input {
  width: 30%;
  margin: 0 20% 0 4%;
}


