header {
  text-align: center;
  font-family: arial;
  height: 300px;
  width: 100%;
  align-self: center;
}

main {
  color: lightgrey;
}

body {
  background: beige;
  height: auto;
  font-family: Verdana;
  max-width: auto;
  grid-gap: 10px;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: rgb(80,120,150);
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: lightgrey;
  border: none;
  color: rgb(80,120,150);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 300px;
  font-size: 15px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: lightgray;
  color: black;
}

section {
  background-color: lightgrey;
  border: none;
  color: rgb(80,120,150);
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: inline-block;
}

section:hover {
  background-color: lightgray;
  color: black;
}

nav {
  background-color: rgb(80,120,150);
  background-size: contain;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;

  width: 80%;
  display: inline-block;
  opacity: 0.8;
}

nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  border: 2px;
  background-color: darkgrey;
  padding: 5px;
  color: white;

}

main {
  text-align: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  display: inline-block;
}

a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

input[type=text] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 40%;
  height: 25px;
  padding: 16px 20px;
  border: 5px;
  background-color: #f1f1f1;
}

label {
  font-size: 20px;
}

nav li:hover {
  opacity: 0.8;
  background-color: rgb(150, 140, 90);
  text-decoration: underline;
}


#artists {
  color: rgb(55,68,46);
}

td {
  background-color: grey;
  color: white;
}

table {
  width: auto;
  border: 10px;
  background-color: white;
  color: black;
  display: inline-block;
}
