<h1>Artists</h1>

<main id="artist-list">
    <% @artists.each do |artist|  %>
      
      <a href="/artists/<%= artist.id %>">
        <section class="artist">
          <h3><%= artist.name %></h3>
        </section>
      </a>
    <% end %>

<form action="/artists/new" method="post" class="save">
  <input type="submit" value="Add New Artist" class="button"/>
</form>
</main>
