<h1>Add Artist</h1>

<form class="add-artist" action="/artists" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <div class="form-el">
      <input type="submit" value="Add Artist"/>
    </div>

</form>
